{% extends "layout/base.html" %} {% block main %} {% if recipes %}
<div class="d-flex justify-content-between align-items-center">
  <h1 class="my-3">Recettes</h1>
  <a class="btn btn-primary" href="{{ url_for('create_recipe') }}"
    >Nouvelle Recette</a
  >
</div>
{% for recipe in recipes %}
<div class="card" style="width: 18rem">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center">
      <h5 class="card-title">{{ recipe.name }}</h5>
      <form action="{{ url_for('delete_recipe', id=recipe.id) }}" method="post">
        <input type="submit" class="btn-close" value="" />
      </form>
    </div>
  </div>
</div>
{% endfor %} {% endif %} {% endblock %}
